#input {
  display: inline-block;
  height: 300px;
  width: 65%;
  padding: 10px;
  overflow: auto;

}

input[type="button" i] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #770066;
  padding: 8px 16px;
  border-radius: 3px;
  border: 1px solid rgb(152, 156, 102);
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
}

#io_container {
  
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
}

#examples {
  width: 25%;
  vertical-align:top; 
  text-align: center;
  display: inline-block;
}

.codebutton {
  background-color: #000066;
  margin: 3px 1px;
  padding: 2px 8px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid rgb(152, 156, 102);
  color: #ffffff;
  font-size: 0.9em;
  alignment-baseline: after-edge;
}

#console {
  display: inline-block;
  text-align: left;
  background-color: #ccc;
  font-family: monospace;
  padding: 2px 5px;
  max-height: 300px;
  overflow: auto;
  margin: auto;
  width: 65%;
  padding: 10px;
}